#container{
    background-color:brown;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    font-family: Arial;
    text-align: center;
    border-radius: 30px;
}

#container p{
    font-size: 15px;
}
#container #texto{
    font-family: cursive;
    color:cornsilk
}

#container h1{
    font-size: 25px;
}

#container #size{
    font-size: 20px;
}